name: Build and Publish
on:
  push:
    branches:
      - main
  schedule:
    - cron: '/5 * * * *'
jobs:
  terraform-plan-and-apply:
    defaults:
      run:
        working-directory: ./config
    runs-on: ubuntu-latest
    env:
      GITHUB_OWNER: ukhomeoffice
      GITHUB_TOKEN: ${{ secrets.pat }}
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      id: init
      run: terraform init -reconfigure -backend-config="region=${{ secrets.tf_be_region }}" -backend-config="access_key=${{ secrets.tf_be_access_key }}" -backend-config="secret_key=${{ secrets.tf_be_secret_key }}" -backend-config="bucket=${{ secrets.tf_be_bucket }}"

    - name: Terraform Validate
      id: validate
      run: terraform validate

    - name: Terraform Plan
      id: plan
      run: terraform plan -out=tfplan -var-file="not_prod_realm_variables.tfvars" 
      env:
        TF_VAR_tf_client_id: ${{ secrets.tf_kc_client_id }}
        TF_VAR_tf_client_secret: ${{ secrets.tf_kc_client_secret }}
        TF_VAR_tf_realm: ${{ secrets.tf_kc_realm }}
        TF_VAR_tf_url: ${{ secrets.tf_kc_url }}


    - name: Terraform Apply
      id: apply
      run: terraform apply -input=false -auto-approve -input=false tfplan
